* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.left {
  background-image: url("./assets/odin_task.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 55rem;
}

div.sidebar {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 10rem;
  width: 100%;
  height: 10rem;
  justify-content: center;
  text-align: center;
}

h1 {
  color: white;
  font-size: 50px;
  font-family: "Mansalva", cursive;
  font-size: 70px;
}

.right {
  background-color: whitesmoke;
}

.page_container {
  display: flex;
}

.heading {
  margin-left: 2rem;
  margin-bottom: 3rem;
  margin-top: 6rem;
  font-size: larger;
  font-weight: bold;
  width: 70%;
}

form {
  width: 70%;
}

fieldset {
  background-color: white;
}

.let {
  margin-left: 2rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

label {
  font-size: smaller;
}

input {
  padding: 0.3rem;
  font-size: large;
  border-radius: 0.4rem;
}

input :focus {
  border-color: blue !important;
}

.input {
  margin: 0.5rem 2rem 0.5rem 2rem;
}

.pass {
  margin-bottom: 1.5rem;
}

button {
  background-color: #596d48;
  color: white;
  padding: 15px;
  width: 13rem;
  border: none;
  border-radius: 0.4rem;
  font-size: smaller;
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

a {
  text-decoration: none;
  color: #596d48;
}

@media (max-width: 800px) {
  .left {
    display: none;
  }
}
